<!-- views/partials/nav.ejs -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create Appointment</a></li>
        <li><a href="/appointments">View Appointments</a></li>
        <li><a href="/customer-profile">Customer Profile</a></li>
    </ul>
</nav>
