<!-- views/partials/nav.ejs -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Appointments</a></li>
        <li><a href="/customer-profile">Customer Profile</a></li>
        <li><a href="/create-profile">Create Profile</a></li>
    </ul>
</nav>
