<!-- views/customer-profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
</head>
<body>
    <!-- Include the navigation bar -->
    <%- include('partials/nav.ejs') %>

    <h1>Customer Profile</h1>
    <!-- Display client details -->
    <% if (clientProfile) { %>
        <p>First Name: <%= clientProfile.firstname %></p>
        <p>Last Name: <%= clientProfile.lastname %></p>
        <p>Phone Number: <%= clientProfile.phone_number %></p>
        <!-- Add more details as needed -->
    <% } else { %>
        <p>Client not found</p>
    <% } %>
</body>
</html>
